body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    overflow-y: auto;
}

.recipe {
    width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin: 20px 0;
    background-color: beige;
    
    
}

h1 {
    text-align: center;
    border-bottom: solid;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    border-bottom: solid;
    margin: 10px 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

ol li {
    margin: 8px 14px;
}

li {
    margin: 8px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}


/* Buttons */
.btn-brown-link {
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    margin: 20px;
    padding: 0.7em 2em;
    border: 3px solid #08B39F;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 0 15px 10px #009688;
    color: #08B39F;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
    min-width: 270px;
  }
  
  .btn-brown-link:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: rgb(255, 255, 255);
    z-index: -1;
    transform: scale(1.2);
    border-radius: 20px;
  }
  
  
  .btn-brown-link:hover:before,
  .btn-brown-link:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    box-shadow: 0 0 30px 20px #009688;
  }
  
  .btn-brown-link:active {
    transform: scale(0.9);
  }
  

a {
    color: #009688;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}